.admin-auth-login{ style: 'text-align: center' }
  %h2= 'Admin login'
  = form_for admin, url: admin_login_path(locale), method: :post do |f|
    .admin-auth-section= f.text_field :email, autofocus: true, placeholder: 'email@email.com'
    .admin-auth-section= f.password_field :password, placeholder: '********'
    .admin-auth-actions= f.submit 'Login'
