.admin-auth.edit
  %h2= 'Edit admin'
  = form_for admin, url: admin_admin_path(locale, admin), method: :put do |f|
    = f.password_field :password, placeholder: '********'
    = f.password_field :password_confirmation, placeholder: '********'
    = f.submit 'Save'
