.admin-auth-edit{ style: 'text-align: center' }
  %h2= 'Edit admin'
  = form_for admin, url: admin_admin_path(locale, admin), method: :put do |f|
    .admin-auth-section= f.password_field :password, placeholder: '********'
    .admin-auth-section= f.password_field :password_confirmation, placeholder: '********'
    .admin-auth-actions= f.submit 'Save'
