.admin-auth.new
  %h2= 'New admin'
  = form_for admin, url: admin_admins_path(locale), method: :post do |f|
    = f.text_field :email, placeholder: 'email@email.com'
    = f.password_field :password, placeholder: '********'
    = f.password_field :password_confirmation, placeholder: '********'
    = f.submit 'Save'
